<div>
	<p align="center"><u>Partie 6 sur 7</u></p>
	<br/>
	Utilisez la touche <b>E</b> pour les <font color="#31b404"><%= trialData.left1%></font> et pour les images à connotation <font color="#0000FF"><%= trialData.left2%></font>.<br/>
	Utilisez la touche <b>I</b> pour les <font color="#31b404"><%= trialData.right1%></font> et pour les images à connotation <font color="#0000FF"><%= trialData.right2%></font>.<br/>
	<br/>
	<u>Allez aussi vite que vous pouvez</u> tout en étant précis.<br/>
	<br/>
	<p align="center">Appuyer sur la <b>barre d'espace</b> pour commencer.</p>
</div>