<div style="margin:2%; font-size:1.3em;">
	<% if (trialData.left1) { %>
		<span style="color:#56C2ED"><%= trialData.left1%></span>
	<%}%>
	<% if (trialData.left1 && trialData.left2) { %>
		</br>ou</br>
	<%}%>
	<% if (trialData.left2) { %>
		<span style="color:#56C2ED"><%= trialData.left2%></span>
	<%}%>
</div>
