<div style="margin:2%; font-size:1.3em;">
	<% if (trialData.right1) { %>
		<span style="color:#56C2ED"><%= trialData.right1%></span>
	<%}%>
	<% if (trialData.left1 && trialData.left2) { %>
		</br>ou</br>
	<%}%>
	<% if (trialData.right2) { %>
		<span style="color:#56C2ED"><%= trialData.right2%></span>
	<%}%>
</div>
